body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  display: flex;
  align-items: center;

  background: linear-gradient(to right, pink, white);

  border-bottom-style: solid;
  border-bottom: 0px 0px 5px black;
}

#header-img {
  width: 100px;
  height: 100px;

  padding: 25px;
}

#header-title {
  margin-right: auto;
}

#header-subtitle {
  padding-right: 25px;
}


.hero {
  padding: 50px;
}


.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
}

.form-input {
  border-radius: 5px;
  border: 3px solid pink;
}

.form-button {
  grid-column: 1 / -1;

  border: 1px solid black;
  border-radius: 5px;

  background: linear-gradient(to right, pink, white);
}